<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>195365601694-63a9lh2r8cfg4m3jajlmmrodhdmhpuus.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.195365601694-63a9lh2r8cfg4m3jajlmmrodhdmhpuus</string>
	<key>API_KEY</key>
	<string>AIzaSyBACgkF06xX16402jt0DKN6hLTKIicSXUM</string>
	<key>GCM_SENDER_ID</key>
	<string>195365601694</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aaryn.poke-finder</string>
	<key>PROJECT_ID</key>
	<string>poke-finder-bed7d</string>
	<key>STORAGE_BUCKET</key>
	<string>poke-finder-bed7d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:195365601694:ios:d376e699a48a84d4</string>
	<key>DATABASE_URL</key>
	<string>https://poke-finder-bed7d.firebaseio.com</string>
</dict>
</plist>